<%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main class="container mx-auto mt-20 text-center">
      <h2 class="text-6xl font-bold text-red-500 mb-4">404</h2>
      <p class="text-2xl text-gray-700 mb-8">Oops! Page Not Found</p>
      <a
        href="/"
        class="bg-red-500 text-white py-2 px-6 rounded-lg hover:bg-red-600 transition duration-300"
        >Go Back Home</a
      >
    </main>
  </body>
</html>
