<% if (errors.length > 0) {%>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
    <strong class="font-bold">Error!</strong>
    <span class="block sm:inline">
      <% errors.forEach(error => { %>
        <li><%= error %></li>
      <% }) %>
    </span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <i class="fas fa-times"></i>
    </span>
  </div>
<% } %>  