<form action="/favourites" method="POST">
  <button type="submit" class="bg-green-300 p-2 hover:bg-green-500">
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>
