<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main class="container mx-auto mt-20 text-center">
      <h2 class="text-6xl font-bold text-red-500 mb-4">My Bookings</h2>
      <p class="text-2xl text-gray-700 mb-8">Bookings will appear here</p>
    </main>
  </body>
</html>
