<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Home to airbnb</title>
  </head>
  <body>
    <header>
      <h1>Register your home here:</h1>
    </header>
    <main>
      <form action="/host/add-home" method="POST">
        <input
          type="text"
          name="houseName"
          placeholder="Enter the name of your house"
        />
        <input type="submit" />
      </form>
    </main>
  </body>
</html>
